@import "tailwindcss";

/* body {
  margin: 0;
  padding: 0;
  display: block; /* Reset any unwanted flex styles 
  min-height: 100vh;
  background-color: #f3f4f6; /* Optional: Matches Tailwind's bg-gray-100 
  font-family: 'Inter', sans-serif; /* Optional: Matches Tailwind's default font 
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
